{
  "extends": "@sweetlikepete/eslint-config/lib/configs/base",
  "rules": {
    "compat/compat": "off",
    "security/detect-non-literal-fs-filename": "off",
    "no-process-exit": "off",
    "no-sync": "off"
  }
}