
$color: pink\9;

body{

    background-color: $color;
    display: inline;

    div.test{

        color: $color;

        a.class1{

            margin: 0;

        }

        a.class2{

            margin: 8px;

        }

    }

}
